@import '../../styles/variables.scss';

.settings-container {
  max-width: 500px;
  display: flex;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $colorWhite;
    box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: 0.07),
      -4px -4px 8px rgba($color: #000000, $alpha: 0.07);
    background-color: $colorWhite;
    border-top: 2px solid $colorPrimary;
    border-bottom: 2px solid $colorPrimary;
    border-radius: 10px;
    padding: 15px 25px 25px;
    width: 100%;

    .MuiFormControl-root {
      margin-top: 8px;
      margin-bottom: 4px;
    }
    button:not(.MuiIconButton-root) {
      margin-top: 15px;
      padding: 16px 8px;
    }

    .nav-link-item {
      display: flex;
      justify-content: center;
    }
  }
}
